---
  
  - name: Copy files
    become: true
    copy:
      src: /root/project/artifact.tar.gz
      dest: /home/ubuntu/artifact.tar.gz
  - name: Unarchive
    become: true
    shell : |
        cd /home/ubuntu/
        tar xvzf artifact.tar.gz -C .


  - name: "Add nodejs apt key"
    apt_key:
      url: https://deb.nodesource.com/gpgkey/nodesource.gpg.key
      state: present

  - name: "Add nodejs"
    apt_repository:
       repo: deb https://deb.nodesource.com/node_13.x bionic main
    update_cache: yes
  - name: "Install nodejs with cache"
    apt:
      update_cache: yes
      name: nodejs
      state: present        
  - name: "install PM2 for production "
    npm:
      name: pm2
      global: yes
      state: present
      production: yes    
  - name: "Executing Node app with PM2"
    shell: |
      cd /home/ubuntu/backend/dist
      pm2 stop default
      pm2 start main.js    
    register: execute_node
  - name: print message
    debug:    
      msg: "{{ execute_node.stdout_lines }}"
  - name: "Configure pm2 to start as service"
    become: true    
    shell: |
      env PATH=$PATH:/usr/local/bin pm2 startup systemd -u ubuntu --hp /home/ubuntu
  # - name: "Install dependencies for project"
  #   shell: |
  #       cd /home/ubuntu/
  #       sudo npm install    

  # - name:  start app
  #   command:  sudo pm2 start main.js
  #   args:
  #     chdir: /home/ubuntu/dist
    environment:
      ENVIRONMENT: production
      TYPEORM_CONNECTION: "{{ lookup('env', 'TYPEORM_CONNECTION') }}"
      TYPEORM_MIGRATIONS_DIR: "./migrations"
      TYPEORM_MIGRATIONS: "./migrations/*.js"
      TYPEORM_ENTITIES: "./modules/domain/**/*.entity.js"
      TYPEORM_HOST: "{{ lookup('env', 'TYPEORM_HOST') }}"
      TYPEORM_PORT: "{{ lookup('env', 'TYPEORM_PORT') }}"
      TYPEORM_USERNAME: "{{ lookup('env', 'TYPEORM_USERNAME') }}"
      TYPEORM_PASSWORD: "{{ lookup('env', 'TYPEORM_PASSWORD') }}"
      TYPEORM_DATABASE: "{{ lookup('env', 'TYPEORM_DATABASE') }}"
    # args:
    #   chdir: /home/ubuntu/dist

    # shell : |
    #     cd /home/ubuntu/
    #     npm install
    #     sudo pm2 start main.js       
    #     sudo pm2 start npm -- start
        
    # shell : |
    #     cd /home/ubuntu/dist
    #     pm2 start main.js
    #     pm2 stop default
    #     pm2 start npm -- start
    # environment:
    #   ENVIRONMENT: production
    #   TYPEORM_CONNECTION: "{{ lookup('env', 'TYPEORM_CONNECTION') }}"
    #   TYPEORM_MIGRATIONS_DIR: "./migrations"
    #   TYPEORM_MIGRATIONS: "./migrations/*.js"
    #   TYPEORM_ENTITIES: "./modules/domain/**/*.entity.js"
    #   TYPEORM_HOST: "{{ lookup('env', 'TYPEORM_HOST') }}"
    #   TYPEORM_PORT: "{{ lookup('env', 'TYPEORM_PORT') }}"
    #   TYPEORM_USERNAME: "{{ lookup('env', 'TYPEORM_USERNAME') }}"
    #   TYPEORM_PASSWORD: "{{ lookup('env', 'TYPEORM_PASSWORD') }}"
    #   TYPEORM_DATABASE: "{{ lookup('env', 'TYPEORM_DATABASE') }}"